<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ | iLG English</title>
    <link rel="icon" type="image/png" sizes="35x35" href="/images/image/logo.svg">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <nav class="container flex flex--jc-sb flex--ai-c center">
            <a href="/" class="header__logo">
                <img src="/images/image/logo.svg" alt="logo">
            </a>
        
            <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
                <span></span>
                <span></span>
                <span></span>
            </a>
        
            <div class="header__links hide-for-mobile">
                <a href="/">Trang chủ</a>
                <a href="/introduce">Giới thiệu</a>
                <a href="/courses">Khoá học</a>
                <a href="/calendars" class="main">Lịch học</a>
                <a href="/news">Tin tức</a>
            </div>
        
            <a href="#" class="btn btn--red hide-for-mobile">
                Đăng ký ngay
                <span></span>
            </a>
        </nav>
        
        <div class="overlay has-fade"></div>
        
        <div class="header__menu hide-for-desktop flex has-fade">
            <a href="/">Trang chủ</a>
            <a href="/introduce">Giới thiệu</a>
            <a href="/courses">Khoá học</a>
            <a href="/calendars" class="main">Lịch học</a>
            <a href="/news">Tin tức</a>
            <a href="#" class="btn btn--red">Đăng ký ngay</a>
        </div>
    </header>

    <section class="calendars">
        <div class="calendars__titles">
            <h2 class="calendars__title">Lịch học</h2>
            <h3 class="calendars__subtitle">
                Để biết lịch học, vui lòng chọn khoá học, thành phố bạn đang sống và trung tâm bạn muốn học..
            </h3>
        </div>

        <form class="calendars__areas flex flex--jc-sb flex--ai-c" method="GET" action="">
            <select name="courses" id="calendars__courses">
                <option value="choose">Khóa học</option>
                <option value="kid">Enlish For Kid</option>
                <option value="adult">Enlish For Adult</option>
                <option value="bussiness">Enlish For Bussiness</option>
                <option value="communicate">Enlish For Communicate</option>
            </select>

            <select name="city" id="calendars__city">
                <option value="choose">Tỉnh/Thành phố</option>
            </select>

            <select name="courses" id="calendars__central">
                <option value="choose">Trung tâm đào tạo</option>
                <option value="Trung tâm iLG 1">Trung tâm iLG 1</option>
                <option value="Trung tâm iLG 2">Trung tâm iLG 2</option>
                <option value="Trung tâm iLG 3">Trung tâm iLG 3</option>
                <option value="Trung tâm iLG 4">Trung tâm iLG 4</option>
            </select>
        </form>

        <form action="#" class="calendars__filters flex flex--jc-sb flex--ai-c">
            <select name="levels" id="calendars__levels">
                <option value="level">Trình độ</option>
                <option value="vỡ lòng">Vỡ lòng</option>
                <option value="sơ cấp">Sơ cấp</option>
                <option value="sơ trung cấp">Sơ trung cấp</option>
                <option value="trung cấp">Trung cấp</option>
            </select>

            <select name="times" id="calendars__times">
                <option value="choose">Thời gian</option>
                <option value="12:00 - 16:00">12:00 - 16:00</option>
                <option value="12:00 - 16:00">12:00 - 16:00</option>
                <option value="12:00 - 16:00">12:00 - 16:00</option>
                <option value="12:00 - 16:00">12:00 - 16:00</option>
                <option value="12:00 - 16:00">12:00 - 16:00</option>
                <option value="12:00 - 16:00">12:00 - 16:00</option>
                <option value="12:00 - 16:00">12:00 - 16:00</option>
                <option value="12:00 - 16:00">12:00 - 16:00</option>
                <option value="12:00 - 16:00">12:00 - 16:00</option>
                <option value="12:00 - 16:00">12:00 - 16:00</option>
                <option value="12:00 - 16:00">12:00 - 16:00</option>
            </select>

            <select name="courses" id="calendars__status">
                <option value="choose">Trạng thái</option>
                <option value="lớp mới mở">lớp mới mở</option>
                <option value="chờ lớp mới">Chờ lớp mới</option>
            </select>

            <a href="#" class="btn btn--red">Lọc</a>
        </form>

        <div class="calendars__courses">
            <h3 class="calendars__titles calendars__title">Danh sách lịch học</h3>
            <div class="header-table grid">
                <h4>Mã lớp</h4>
                <h4>Tổng số tuần</h4>
                <h4>Tổng số ngày</h4>
                <h4>Thời gian</h4>
                <h4>Ngày khai giảng</h4>
                <h4>Trạng thái</h4>
                <h4></h4>
            </div>
            <div class="body-table">
                <div class="calendars__course">
                    <div class="grid">
                        <p class="classID hide-for-tablet">Mã số lớp</p><h4 class="classID">H1YK-K6-2102</h4>
                    </div>
                    <div class="grid">
                        <p class="weeks hide-for-tablet">Tổng số tuần</p>
                        <p class="weeks">17</p>
                    </div>
                    <div class="grid">
                        <p class="days hide-for-tablet">Tổng số ngày</p>
                        <p class="days">Sat/Sun</p>
                    </div>
                    <div class="grid">
                        <p class="times hide-for-tablet">Thời gian</p>
                        <p class="times">12:00 - 16:00</p>
                    </div>
                    <div class="grid">
                        <p class="daybegin hide-for-tablet">Ngày khai giảng</p>
                        <p class="daybegin">01/01/2021</p>
                    </div>
                    <div class="grid">
                        <p class="status hide-for-tablet">Trạng thái</p>
                        <p class="status">Opened</p>
                    </div>
                    <a href="#" class="btn btn--red">Đăng ký</a>
                </div>

                <div class="calendars__course">
                    <div class="grid">
                        <p class="classID hide-for-tablet">Mã số lớp</p><h4 class="classID">H1YK-K6-2102</h4>
                    </div>
                    <div class="grid">
                        <p class="weeks hide-for-tablet">Tổng số tuần</p>
                        <p class="weeks">17</p>
                    </div>
                    <div class="grid">
                        <p class="days hide-for-tablet">Tổng số ngày</p>
                        <p class="days">Sat/Sun</p>
                    </div>
                    <div class="grid">
                        <p class="times hide-for-tablet">Thời gian</p>
                        <p class="times">12:00 - 16:00</p>
                    </div>
                    <div class="grid">
                        <p class="daybegin hide-for-tablet">Ngày khai giảng</p>
                        <p class="daybegin">01/01/2021</p>
                    </div>
                    <div class="grid">
                        <p class="status hide-for-tablet">Trạng thái</p>
                        <p class="status">Opened</p>
                    </div>
                    <a href="#" class="btn btn--red">Đăng ký</a>
                </div>

                <div class="calendars__course">
                    <div class="grid">
                        <p class="classID hide-for-tablet">Mã số lớp</p><h4 class="classID">H1YK-K6-2102</h4>
                    </div>
                    <div class="grid">
                        <p class="weeks hide-for-tablet">Tổng số tuần</p>
                        <p class="weeks">17</p>
                    </div>
                    <div class="grid">
                        <p class="days hide-for-tablet">Tổng số ngày</p>
                        <p class="days">Sat/Sun</p>
                    </div>
                    <div class="grid">
                        <p class="times hide-for-tablet">Thời gian</p>
                        <p class="times">12:00 - 16:00</p>
                    </div>
                    <div class="grid">
                        <p class="daybegin hide-for-tablet">Ngày khai giảng</p>
                        <p class="daybegin">01/01/2021</p>
                    </div>
                    <div class="grid">
                        <p class="status hide-for-tablet">Trạng thái</p>
                        <p class="status">Opened</p>
                    </div>
                    <a href="#" class="btn btn--red">Đăng ký</a>
                </div>

                <div class="calendars__course">
                    <div class="grid">
                        <p class="classID hide-for-tablet">Mã số lớp</p><h4 class="classID">H1YK-K6-2102</h4>
                    </div>
                    <div class="grid">
                        <p class="weeks hide-for-tablet">Tổng số tuần</p>
                        <p class="weeks">17</p>
                    </div>
                    <div class="grid">
                        <p class="days hide-for-tablet">Tổng số ngày</p>
                        <p class="days">Sat/Sun</p>
                    </div>
                    <div class="grid">
                        <p class="times hide-for-tablet">Thời gian</p>
                        <p class="times">12:00 - 16:00</p>
                    </div>
                    <div class="grid">
                        <p class="daybegin hide-for-tablet">Ngày khai giảng</p>
                        <p class="daybegin">01/01/2021</p>
                    </div>
                    <div class="grid">
                        <p class="status hide-for-tablet">Trạng thái</p>
                        <p class="status">Opened</p>
                    </div>
                    <a href="#" class="btn btn--red">Đăng ký</a>
                </div>

                <div class="calendars__course">
                    <div class="grid">
                        <p class="classID hide-for-tablet">Mã số lớp</p><h4 class="classID">H1YK-K6-2102</h4>
                    </div>
                    <div class="grid">
                        <p class="weeks hide-for-tablet">Tổng số tuần</p>
                        <p class="weeks">17</p>
                    </div>
                    <div class="grid">
                        <p class="days hide-for-tablet">Tổng số ngày</p>
                        <p class="days">Sat/Sun</p>
                    </div>
                    <div class="grid">
                        <p class="times hide-for-tablet">Thời gian</p>
                        <p class="times">12:00 - 16:00</p>
                    </div>
                    <div class="grid">
                        <p class="daybegin hide-for-tablet">Ngày khai giảng</p>
                        <p class="daybegin">01/01/2021</p>
                    </div>
                    <div class="grid">
                        <p class="status hide-for-tablet">Trạng thái</p>
                        <p class="status">Opened</p>
                    </div>
                    <a href="#" class="btn btn--red">Đăng ký</a>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="flex">
            <div class="footer__cta">
                <h1 class="footer__title">
                    anh ngữ <span>iLG</span>
                </h1>
                <a href="#" class="btn btn--red">
                    Đăng ký ngay
                    <span></span>
                </a>
            </div>

            <div class=" flex flex-menu">
                <div class="footer__menu-1">
                    <a href="#">Giới thiệu</a>
                    <a href="#">Khoá học</a>
                    <a href="#">Tin tức</a>
                </div>

                <div class="footer__menu-2">
                    <h3>CONTACT US</h3>
                    <a class="contact" href="#">Website: <span>ilg.edu.vn</span></a>
                    <a class="contact" href="#">Phone: <span>00-000-0000</span></a>

                    <div class="footer__icons hide-for-mobile">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-pinterest"></i></a>
                    </div>
                </div>


            </div>

            <div class="footer__icons hide-for-desktop">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-pinterest"></i></a>
            </div>
        </div>
    </footer>

    <div class="modal has-fade-modal">
        <div class="modal__header">
            <i class="fas fa-window-close btnClose"></i>
        </div>
        <div class="modal__contents flex flex--ai-c">
            <h2 class="modal__title">Lorem</h2>
            <img class="modal__image" src="/images/image/gioithieu2.png" alt="img">
            <p class="modal__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit aspernatur
                distinctio laborum atque quis mollitia, magni quos voluptatibus error sint perspiciatis molestiae sit
                animi dignissimos optio corrupti, vel labore nemo.</p>
        </div>
        <!-- <div class="modal__footer">
            <button class="btnClose">Đóng</button>
        </div> -->
    </div>

    <script src="/js/jquery.js"></script>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>