<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin tức | iLG English</title>
    <link rel="icon" type="image/png" sizes="35x35" href="/images/image/logo.svg">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header ">
        <nav class="container flex flex--jc-sb flex--ai-c center">
            <a href="/" class="header__logo">
                <img src="/images/image/logo.svg" alt="logo">
            </a>

            <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
                <span></span>
                <span></span>
                <span></span>
            </a>

            <div class="header__links hide-for-mobile">
                <a href="/">Trang chủ</a>
                <a href="/introduce">Giới thiệu</a>
                <a href="/courses">Khoá học</a>
                <a href="/calendars">Lịch học</a>
                <a href="/news" class="main">Tin tức</a>
            </div>

            <a href="/listcourse" class="btn btn--red hide-for-mobile">
                Đăng ký ngay
                <span></span>
            </a>
        </nav>

        <div class="overlay has-fade"></div>

        <div class="header__menu hide-for-desktop flex has-fade">
            <a href="/">Trang chủ</a>
            <a href="/introduce">Giới thiệu</a>
            <a href="/courses">Khoá học</a>
            <a href="/calendars">Lịch học</a>
            <a href="/news" class="main">Tin tức</a>
            <a href="/listcourse" class="btn btn--red">Đăng ký ngay</a>
        </div>
    </header>

    <section class="float-chat">
        <div class="float-chat__box flex flex--jc-sa">
            <div class="float-chat__logs">
                <div class="ilg flex"><p>Chào mừng anh/chị đã đến với trung tâm ngoại ngữ iLG</p></div>
                <div class="ilg flex"><p>Nếu anh chị có thắc mắc, cứ vức hết vào đây em trả lời tất.</p></div>
            </div>
            <div class="float-chat__cta flex flex--jc-sb">
                <input id="input-text" class="float-chat__inputtext" type="text" placeholder="Nhập tin nhắn">
                <div id="btnsend" class="float-chat__btnsend">Gửi</div>
            </div>
        </div>
        <div id="btnshow" class="float-chat__btnshow">
            <i class="fas fa-comments"></i>
        </div>
    </section>

    <section class="detail-news">
        <div class="detail-news__subtitle">
            <a href="/news"><i class="far fa-newspaper"></i>Tin tức/</a>
            <p>Thông báo điều chỉnh lịch học iLG</p>
        </div>
        <h3 class="detail-news__title">Thông báo điều chỉnh lịch học iLG</h3>
        <div class="flex flex--jc-sa">
            <img class="detail-news__image" src="/images/image/tintuc_4.jpg" alt="tin tuc 1">
            <div class="detail-news__contents">
                <p class="detail-news__text">Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                    dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                    dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                    dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                    dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                    dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                    dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...</p>
                <img class="detail-news__subimage" src="/images/image/tintuc_2.jpg" alt="tin tuc 1">
                <p class="detail-news__text">Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                    dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                    dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                    dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                    dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                    dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                    dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...</p>
                <img class="detail-news__subimage" src="/images/image/tintuc_1.jpg" alt="tin tuc 1">
                <p class="detail-news__text">Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                    dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                    dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                    dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                    dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                    dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                    dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...</p>
            </div>
        </div>
    </section>

    <section class="next-news">
        <h2 class="next-news__title">Tin kế tiếp</h2>
        <div class="grid">
            <a href="/detailnews" class="news__box box hover-in flex flex--ai-c">
                <img class="news__image" src="/images/image/tintuc_1.jpg" alt="tin tuc 1">
                <div class="news__contents">
                    <!-- <div class="news__calendar">
                        <img class="news__calendar--icon" src="/images/icons/calendar-week-solid.svg"
                            alt="icon-calendar">
                        22/05/2021
                    </div> -->
                    <h3 class="news__subtitle">Lễ trao chứng chỉ tốt nghiệp cho học sinh iLG</h3>
                    <p class="news__texts">Dù chỉ mới ở độ tuổi từ 9 - 14 tuổi, nhưng các em học sinh của iLG đã hoàn
                        thành xuất sắc khoá học Global English ở iLG.</p>
                </div>
                <i class="fas fa-fingerprint course__more"></i>
            </a>

            <a href="/detailnews" class="news__box box hover-in flex flex--ai-c">
                <img class="news__image" src="/images/image/tintuc_2.jpg" alt="tin tuc 1">
                <div class="news__contents">
                    <!-- <div class="news__calendar">
                        <img class="news__calendar--icon" src="/images/icons/calendar-week-solid.svg"
                            alt="icon-calendar">
                        22/05/2021
                    </div> -->
                    <h3 class="news__subtitle">Các bạn sinh viên đang trong buổi ôn tập cuối khoá tại iLG</h3>
                    <p class="news__texts">Đây là những hình ảnh vô cùng nghiêm túc của các bạn sinh viên tại trung tâm
                        iLG.</p>
                </div>
                <i class="fas fa-fingerprint course__more"></i>
            </a>

            <a href="/detailnews" class="news__box box hover-in flex flex--ai-c">
                <img class="news__image" src="/images/image/tintuc_3.jpg" alt="tin tuc 1">
                <div class="news__contents">
                    <!-- <div class="news__calendar">
                        <img class="news__calendar--icon" src="/images/icons/calendar-week-solid.svg"
                            alt="icon-calendar">
                        22/05/2021
                    </div> -->
                    <h3 class="news__subtitle">Lễ trao chứng chỉ tốt ngiệp cho học sinh trường Nguyễn Siêu tại iLG.</h3>
                    <p class="news__texts">Các em học sinh trường Nguyễn Siêu đang theo học liên kết tại iLG được nhận
                        chứng chỉ do Đại học Cambrige cấp. </p>
                </div>
                <i class="fas fa-fingerprint course__more"></i>
            </a>

            <a href="/detailnews" class="news__box box hover-in flex flex--ai-c">
                <img class="news__image" src="/images/image/tintuc_4.jpg" alt="tin tuc 1">
                <div class="news__contents">
                    <!-- <div class="news__calendar">
                        <img class="news__calendar--icon" src="/images/icons/calendar-week-solid.svg"
                            alt="icon-calendar">
                        22/05/2021
                    </div> -->
                    <h3 class="news__subtitle">Thông báo điều chỉnh
                        lịch học iLG</h3>
                    <p class="news__texts">Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                        dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...</p>
                </div>
                <i class="fas fa-fingerprint course__more"></i>
            </a>
        </div>
    </section>
    
    <footer class="footer">
        <div class="flex">
            <div class="footer__cta">
                <h1 class="footer__title">
                    anh ngữ <span>iLG</span>
                </h1>
                <a href="/contact" class="btn btn--red">
                    Liên hệ
                    <span></span>
                </a>
            </div>

            <div class=" flex flex-menu">
                <div class="footer__menu-1">
                    <a href="/introduce">Giới thiệu</a>
                    <a href="/courses">Khoá học</a>
                    <a href="/news">Tin tức</a>
                </div>

                <div class="footer__menu-2">
                    <h3>CONTACT US</h3>
                    <a class="contact" href="ilgenglish.herokuapp.com">Website: <span>ilg.edu.vn</span></a>
                    <div class="contact">Phone: <span>00-000-0000</span></div>

                    <div class="footer__icons hide-for-mobile">
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.pinterest.com/"><i class="fab fa-pinterest"></i></a>
                    </div>
                </div>


            </div>

            <div class="footer__icons hide-for-desktop">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href="https://www.pinterest.com/"><i class="fab fa-pinterest"></i></a>
            </div>
        </div>
    </footer>

    <div class="modal has-fade-modal">
        <div class="modal__header">
            <i class="fas fa-window-close btnClose"></i>
        </div>
        <div class="modal__contents flex flex--ai-c">
            <h2 class="modal__title">Lorem</h2>
            <img class="modal__image" src="/images/image/gioithieu2.png" alt="img">
            <p class="modal__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit aspernatur
                distinctio laborum atque quis mollitia, magni quos voluptatibus error sint perspiciatis molestiae sit
                animi dignissimos optio corrupti, vel labore nemo.</p>
        </div>
        <!-- <div class="modal__footer">
            <button class="btnClose">Đóng</button>
        </div> -->
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>