<nav class="container flex flex--jc-sb flex--ai-c center">
    <a href="/" class="header__logo">
        <img src="/images/image/logo.svg" alt="logo">
    </a>

    <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
        <span></span>
        <span></span>
        <span></span>
    </a>

    <div class="header__links hide-for-mobile">
        <a href="/" class="main">Trang chủ</a>
        <a href="/introduce">Giới thiệu</a>
        <a href="/courses">Khoá học</a>
        <a href="/calendars">Lịch học</a>
        <a href="/news">Tin tức</a>
    </div>

    <a href="#" class="btn btn--red hide-for-mobile">
        Đăng ký ngay
        <span></span>
    </a>
</nav>

<div class="overlay has-fade"></div>

<div class="header__menu hide-for-desktop flex has-fade">
    <a href="/" class="main">Trang chủ</a>
    <a href="/introduce">Giới thiệu</a>
    <a href="/courses">Khoá học</a>
    <a href="/calendars">Lịch học</a>
    <a href="/news">Tin tức</a>
    <a href="#" class="btn btn--red">Đăng ký ngay</a>
</div>