<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ | iLG English</title>
    <link rel="icon" type="image/png" sizes="35x35" href="/images/image/logo.svg">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <nav class="container flex flex--jc-sb flex--ai-c center">
            <a href="/" class="header__logo">
                <img src="/images/image/logo.svg" alt="logo">
            </a>
        
            <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
                <span></span>
                <span></span>
                <span></span>
            </a>
        
            <div class="header__links hide-for-mobile">
                <a href="/" class="main">Trang chủ</a>
                <a href="/introduce">Giới thiệu</a>
                <a href="/courses">Khoá học</a>
                <a href="/calendars">Lịch học</a>
                <a href="/news">Tin tức</a>
            </div>
        
            <a href="/listcourse" class="btn btn--red hide-for-mobile">
                Đăng ký ngay
                <span></span>
            </a>
        </nav>
        
        <div class="overlay has-fade"></div>
        
        <div class="header__menu hide-for-desktop flex has-fade">
            <a href="/" class="main">Trang chủ</a>
            <a href="/introduce">Giới thiệu</a>
            <a href="/courses">Khoá học</a>
            <a href="/calendars">Lịch học</a>
            <a href="/news">Tin tức</a>
            <a href="/listcourse" class="btn btn--red">Đăng ký ngay</a>
        </div>
    </header>

    <section class="hero">
        <!-- <div class="carousel-container">
            <div class="overlay"></div>
            <i class="fas fa-arrow-left" id="prevBtn"></i>
            <i class="fas fa-arrow-right" id="nextBtn"></i>
            <div class="carousel-slide">
                <img src="/images/image/slider-img-4.jpg" id="lastClone" alt="">
                <img src="/images/image/slider-img-1.jpg" alt="">
                <img src="/images/image/slider-img-2.jpg" alt="">
                <img src="/images/image/slider-img-3.jpg" alt="">
                <img src="/images/image/slider-img-4.jpg" alt="">
                <img src="/images/image/slider-img-1.jpg" id="firstClone" alt="">
            </div>
        </div> -->

        <div class="container flex flex--ai-c">
            <h1 class="hero__title">Anh Ngữ <span>iLG</span></h1>

            <h2 class="hero__subtitle">
                Nơi chắp cánh ước mơ ngoại ngữ cho bạn
            </h2>

            <p class="hero__text">
                Hãy tham gia cùng chúng tôi <span>Ngay hôm nay</span>
            </p>

            <div class="hero__cta flex flex--ai-c">
                <a href="/courses" class="hero__more">Tìm hiểu thêm</a>
                <a href="/listcourse" class="hero__btn btn btn--red">
                    Đăng ký ngay
                    <span></span>
                </a>

            </div>
        </div>
    </section>

    <section class="course">
        <h2 class="course__title container">Tiếng anh dành cho mọi lứa tuổi</h2>

        <div class="grid">
            <div class="course__box hover-in">
                <img class="course__image" src="/images/image/eng-for-student.jpg" alt="kid">
                <h3 class="course__subtitle">Tiếng anh trẻ em</h3>
                <div class="course__contents">
                    <p class="course__texts">
                        <span>KID</span><br>
                        Dành cho các bé từ 4 > 8 tuổi <br>
                        <span>Junior KID</span><br>
                        Dành cho các bé từ 8 > 14 tuổi <br>
                        <span>High KID</span><br>
                        Dành cho các bé từ 14 > 18 tuổi <br>
                    </p>
                </div>
            </div>

            <div class="course__box hover-in">
                <img class="course__image" src="/images/image/eng-for-junior.jpg" alt="kid">
                <h3 class="course__subtitle">Tiếng anh người lớn</h3>
                <div class="course__contents">
                    <p class="course__texts">
                        <span>English for Adults</span><br>
                        Tất cả các khoá học đều dựa trên tiêu chuẩn quốc tế về trình độ tiếng Anh.
                    </p>
                </div>
            </div>

            <div class="course__box hover-in">
                <img class="course__image" src="/images/image/eng-for-certificate.jpg" alt="kid">
                <h3 class="course__subtitle">chứng chỉ quốc tế</h3>
                <div class="course__contents">
                    <p class="course__texts">
                        <span>Global Certificates</span><br>
                        Tất cả các khoá học đều dựa trên tiêu chuẩn quốc tế về trình độ tiếng Anh.
                    </p>
                </div>
            </div>

            <div class="course__box hover-in">
                <img class="course__image" src="/images/image/eng-for-business.jpg" alt="business">
                <h3 class="course__subtitle">English for Business</h3>
                <div class="course__contents">
                    <p class="course__texts">
                        <span>English for Business</span><br>
                        Chúng tôi cung cấp chương trình đào tạo từ các khóa học tiếng Anh cơ bản tới các khóa học tiếng
                        Anh chuyên sâu theo ngành nghề và theo từng kỹ năng.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="news">
        <h2 class="news__title">tin tức</h2>

        <div class="grid">
            <a class="news__box hover-in flex flex--ai-c" href="/detailnews">
                <img class="news__image" src="/images/image/tintuc_1.jpg" alt="tin tuc 1">
                <div class="news__contents">
                    <!-- <div class="news__calendar">
                        <img class="news__calendar--icon" src="/images/icons/calendar-week-solid.svg"
                            alt="icon-calendar">
                        22/05/2021
                    </div> -->
                    <h3 class="news__subtitle">Lễ trao chứng chỉ tốt nghiệp cho học sinh iLG</h3>
                    <p class="news__texts">Dù chỉ mới ở độ tuổi từ 9 - 14 tuổi, nhưng các em học sinh của iLG đã hoàn
                        thành xuất sắc khoá học Global English ở iLG.</p>
                </div>
                <i class="fas fa-fingerprint course__more"></i>
            </a>

            <a class="news__box hover-in flex flex--ai-c" href="/detailnews">
                <img class="news__image" src="/images/image/tintuc_2.jpg" alt="tin tuc 1">
                <div class="news__contents">
                    <!-- <div class="news__calendar">
                        <img class="news__calendar--icon" src="/images/icons/calendar-week-solid.svg"
                            alt="icon-calendar">
                        22/05/2021
                    </div> -->
                    <h3 class="news__subtitle">Các bạn sinh viên đang trong buổi ôn tập cuối khoá tại iLG</h3>
                    <p class="news__texts">Đây là những hình ảnh vô cùng nghiêm túc của các bạn sinh viên tại trung tâm
                        iLG.</p>
                </div>
                <i class="fas fa-fingerprint course__more"></i>
            </a>

            <a class="news__box hover-in flex flex--ai-c" href="/detailnews">
                <img class="news__image" src="/images/image/tintuc_3.jpg" alt="tin tuc 1">
                <div class="news__contents">
                    <!-- <div class="news__calendar">
                        <img class="news__calendar--icon" src="/images/icons/calendar-week-solid.svg"
                            alt="icon-calendar">
                        22/05/2021
                    </div> -->
                    <h3 class="news__subtitle">Lễ trao chứng chỉ tốt ngiệp cho học sinh trường Nguyễn Siêu tại iLG.</h3>
                    <p class="news__texts">Các em học sinh trường Nguyễn Siêu đang theo học liên kết tại iLG được nhận
                        chứng chỉ do Đại học Cambrige cấp. </p>
                </div>
                <i class="fas fa-fingerprint course__more"></i>
            </a>

            <a class="news__box hover-in flex flex--ai-c" href="/detailnews">
                <img class="news__image" src="/images/image/tintuc_4.jpg" alt="tin tuc 1">
                <div class="news__contents">
                    <!-- <div class="news__calendar">
                        <img class="news__calendar--icon" src="/images/icons/calendar-week-solid.svg"
                            alt="icon-calendar">
                        22/05/2021
                    </div> -->
                    <h3 class="news__subtitle">Thông báo điều chỉnh
                        lịch học iLG</h3>
                    <p class="news__texts">Nhằm đảm bảo an toàn sức khoẻ cho từng học viên trước diễn biến phức tạp của
                        dịch cúm nCov, ILA thông báo điều chỉnh lịch học tại...</p>
                </div>
                <i class="fas fa-fingerprint course__more"></i>
            </a>
        </div>

    </section>

    <section class="reason container">
        <h2 class="reason__title">Tại sao nên học tiếng Anh và 6 kỹ năng thế kỷ 21 cùng iLG</h2>

        <p class="reason__text">
            iLG là một công ty hoạt động trong lĩnh vực giáo dục và đào tạo tiếng Anh có vốn sở hữu nước ngoài, chuyên
            cung cấp các chương trình học và dịch vụ bao gồm:<br>
            - Chương trình giảng dạy Anh ngữ dành cho trẻ em và người lớn.<br>
            - Chương trình luyện thi các kỳ thi quốc tế.<br>
            - Chương trình đào tạo giáo viên.<br>
            - Đào tạo doanh nghiệp.<br> Trung tâm Du học iLG
        </p>

        <div class="reason__slider flex ">
            <div class="row-1 flex flex--jc-sb flex--ai-c">
                <div class="reason__slide flex flex--jc-sb flex--ai-c">
                    <p class="lon">700</p>
                    <p class="nho">Giảng viên nước ngoài</p>
                </div>
                <div class="reason__slide flex flex--jc-sb flex--ai-c">
                    <p class="lon">27.000</p>
                    <p class="nho">Học viên đã học tiếng anh năm trước </p>
                </div>
            </div>
            <div class="row-2 flex flex--jc-sb flex--ai-c">
                <div class="reason__slide flex flex--jc-sb flex--ai-c">
                    <p class="lon">20</p>
                    <p class="nho">Năm kinh nghiệm và chuyên môn</p>
                </div>
            </div>
            <div class="row-3 flex flex--jc-sb flex--ai-c">
                <div class="reason__slide flex flex--jc-sb flex--ai-c">
                    <p class="lon">43</p>
                    <p class="nho">trung tâm tại 11 thành phố</p>
                </div>
                <div class="reason__slide flex flex--jc-sb flex--ai-c">
                    <p class="lon">1.000.000</p>
                    <p class="nho">học viên đã học tại iLG</p>
                </div>
            </div>
        </div>
    </section>

    <section class="float-chat">
        <div class="float-chat__box flex flex--jc-sa">
            <div class="float-chat__logs">
                <div class="ilg flex"><p>Chào mừng anh/chị đã đến với trung tâm ngoại ngữ iLG</p></div>
                <div class="ilg flex"><p>Nếu anh chị có thắc mắc, cứ vức hết vào đây em trả lời tất.</p></div>
            </div>
            <div class="float-chat__cta flex flex--jc-sb">
                <input id="input-text" class="float-chat__inputtext" type="text" placeholder="Nhập tin nhắn">
                <div id="btnsend" class="float-chat__btnsend">Gửi</div>
            </div>
        </div>
        <div id="btnshow" class="float-chat__btnshow">
            <i class="fas fa-comments"></i>
        </div>
    </section>

    <footer class="footer">
        <div class="flex">
            <div class="footer__cta">
                <h1 class="footer__title">
                    anh ngữ <span>iLG</span>
                </h1>
                <a href="/listcourse" class="btn btn--red">
                    Đăng ký ngay
                    <span></span>
                </a>
            </div>

            <div class=" flex flex-menu">
                <div class="footer__menu-1">
                    <a href="/introduce">Giới thiệu</a>
                    <a href="/courses">Khoá học</a>
                    <a href="/news">Tin tức</a>
                </div>

                <div class="footer__menu-2">
                    <h3>CONTACT US</h3>
                    <a class="contact" href="ilgenglish.herokuapp.com">Website: <span>ilg.edu.vn</span></a>
                    <div class="contact">Phone: <span>00-000-0000</span></div>

                    <div class="footer__icons hide-for-mobile">
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.pinterest.com/"><i class="fab fa-pinterest"></i></a>
                    </div>
                </div>


            </div>

            <div class="footer__icons hide-for-desktop">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href="https://www.pinterest.com/"><i class="fab fa-pinterest"></i></a>
            </div>
        </div>
    </footer>

    <div class="modal has-fade-modal">
        <div class="modal__header">
            <i class="fas fa-window-close btnClose"></i>
        </div>
        <div class="modal__contents flex flex--ai-c">
            <h2 class="modal__title">Lorem</h2>
            <img class="modal__image" src="/images/image/gioithieu2.png" alt="img">
            <p class="modal__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit aspernatur
                distinctio laborum atque quis mollitia, magni quos voluptatibus error sint perspiciatis molestiae sit
                animi dignissimos optio corrupti, vel labore nemo.</p>
        </div>
        <!-- <div class="modal__footer">
            <button class="btnClose">Đóng</button>
        </div> -->
    </div>

    <script src="/js/jquery.js"></script>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>