.news{
    
    height: fit-content;
    background-color: $textDarkBlue;
    //background-image: url("/images/image/background-news-mobile.png");
    background-size: 100%;
    padding: 1rem 0;
    padding-bottom: 40px;
    position: relative;

    

    @include breakpoint-up(medium){
        //background-image: url("/images/image/background-news.png");
    }

    @include breakpoint-up(large){
        //background-image: url("/images/image/background-news.png");
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        margin: auto;
    }

    &__title{
        text-align: center;
        font-size: 1.875rem;
        margin: 0;
        text-transform: uppercase;
        color: $white;
    }

    &__box{
        position: relative;
        width: 10.625rem;
        height: fit-content;
        background-color: $white;
        border-radius: 4px;

        //box-shadow: gray 5px 5px 6px;
        cursor: pointer;
        flex-direction: column;
        transition: all 150ms ease-in-out;
        margin-top: 1.25rem;

        &::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            z-index: 3;
        }

        @include breakpoint-up(medium){
            width: 20rem;
            flex-direction: row;
        }

        @include breakpoint-up(large){
            width: 30.625rem;
            flex-direction: row;
            margin-top: 1.75rem;
        }
    }

    &__image{
        width: 100%;
        height: 7rem;
        border-radius: 2px 2px 0 0;

        @include breakpoint-up(medium){
            width: 50%;
            height: 100%;
            
            border-radius: 2px 0 0 2px;
        }

        @include breakpoint-up(large){
            width: 15.625rem;
            height: 13.125rem;
        }
    }

    &__contents{
        padding: 0 10px;
        height: 7.625rem;

        @include breakpoint-up(large){
            height: 11.5rem;
        }
    }

    &__calendar{
        &--icon{
            width: 0.8125rem;
            height: 0.8125rem;

            @include breakpoint-up(large){
                width: 0.9375rem;
                height: 0.9375rem;
            }
        }

        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.625rem;
        margin-top: 0.3rem;
    }

    &__subtitle, &__text{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    &__subtitle{
        line-height: 1;
        -webkit-line-clamp: 2;
        height: 28px;
        margin: 0;
        font-size: 0.875rem;
        margin-top: 0.5rem;

        @include breakpoint-up(large){
            font-size: 1.125rem;
            height: 36px;
            margin-top: 1.25rem;
        }
    }

    &__texts{
        line-height: 1;
        -webkit-line-clamp: 4;
        height: 48px;
        margin: 0;
        margin-top: 0.625rem;
        font-size: 0.75rem;

        color: $textDarkBlue !important;

        @include breakpoint-up(large){
            font-size: 1rem;
            height: 64px;
            margin-top: 0.875rem;
        }
    }
}