.reason{
    background: linear-gradient(0deg, rgba($textDarkBlue, .9), rgba($textDarkBlue, .9)), url("/images/image/hero-image.jpg");
    background-size: 100%;
    //background-repeat: no-repeat;
    margin: auto;
    color: $white;

    &__title{
        font-size: 1.125rem;
        text-align: center;

        @include breakpoint-up(large){
            font-size: 30px;
        }
    }

    &__text{
        font-size: 0.875rem;
        font-weight: 500;
        text-align: center;
        max-width: 1024px;
        margin: auto;
        margin-top: 15px;
        color: $white;
        line-height: 1.5;

        @include breakpoint-up(large){
            font-size: 18px;
        }
    }

    &__slider{
        width: 100%;
        margin-top: 28px;
        
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        

        .row-1{
            > div:nth-child(1){
                background-color: #00E5FF;

                margin-right: 10px;
                margin-bottom: 10px;

                @include breakpoint-up(medium){
                    margin-bottom: 0px;
                }
            }
    
            > div:nth-child(2){
                background-color: #FF00D5;
                margin-right: 10px;
                margin-bottom: 10px;
                @include breakpoint-up(medium){
                    margin-bottom: 0px;
                }
            }
        }

        .row-2{
            > div:nth-child(1){
                background-color: #FFC400;
                margin-right: 10px;
                margin-bottom: 10px;
                @include breakpoint-up(medium){
                    margin-bottom: 0px;
                }
            }
        }

        .row-3{
            > div:nth-child(1){
                background-color: #3AFF00;
                margin-right: 10px;
                @include breakpoint-up(medium){
                    margin-bottom: 0px;
                }
            }
    
            > div:nth-child(2){
                background-color: #FF7700;
            }
        }

        @include breakpoint-up(medium){
            flex-direction: row;
        }
    }


    &__slide{
        width: 170px;
        height: 60px;
        padding: 0 15px;
        text-transform: uppercase;

        font-size: 0.625rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        border-radius: 10px;

        transition: all 200ms ease-in-out;

        .lon{
            font-size: 1.25rem;
            font-weight: 700;

            @include breakpoint-up(large){
                font-size: 2.5rem;
            }
        }

        p{
            margin: 0;
        }

        @include breakpoint-down(small){
            flex-direction: column;
        }

        @include breakpoint-up(medium){
            width: 125px;
            height: 125px;
            flex-direction: column;
        }

        @include breakpoint-up(large){
            width: 188px;
            height: 188px;
            flex-direction: column;
            font-size: 1rem;
        }
    }
}