.detailcourse{
    background-color: $textDarkBlue;
    padding: 20px;
    color: $white;
    &__header{
        flex-direction: column;
        max-width: 1024px;
        margin: auto;

        @include breakpoint-up(medium){
            flex-direction: row;
        }
    }

    &__img{
        width: 100%;
        border-radius: 5px;
        margin-bottom: 12px;

        @include breakpoint-up(medium){
            width: 50%;
            height: 375px;
            flex-grow: 8;
            margin-bottom: 20px ;
        }
    }

    &__cta{
        flex-direction: column;
        align-items: flex-end;
        .share{
            font-size: 12px;
            padding: 8px 10px;
            margin-top: 8px;
            transition: all 200ms ease-in-out;
            &:hover{
                background-color: cadetblue;
            }
        }
    }

    &__detail{
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        @include breakpoint-up(medium){
            height: fit-content;
            flex-direction: column;
            flex-grow: 4;
            align-items: flex-end;
            text-align: end;
        }
        &--text{
            height: 89px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include breakpoint-up(medium){
                margin-bottom: 10px;
            }

            *{
                margin: 0px;
            }

            h1{
                font-size: 18px;
                
                @include breakpoint-up(medium){
                    font-size: 22px;
                }
            }

            p{
                @include breakpoint-up(medium){
                    font-size: 18px;
                }
            }
        }

    }

    &__content{
        
        max-width: 1024px;
        text-align: justify;
        font-size: 14px;

        margin: auto;
    }
}

.review{
    background-color: rgba($color: #091A2A, $alpha: .35);
    color: $white;
    width: 95%;
    max-width: 1024px;

    margin: auto;
    padding: 10px;

    border: 2px $white solid;
    border-radius: 5px;

    h3{ 
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 700;
    }

    &__comments{
        border-bottom: 2px $white solid;
        max-height: 300px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: rgba($color: #646464, $alpha: .1); 
            border-radius: 10px;
        }
           
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $blurGrey; 
            border-radius: 10px;
        }
          
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: rgba($color: #646464, $alpha: .8); 
        }
    }

    &__comment{
        h4, p{
            margin: 0px;
        }

        h4{
            font-size: 16px;
            margin-bottom: 6px;
        }

        p{
            font-size: 14px;
            line-height: 1.3;
        }

        margin-bottom: 15px;
    }
}