.numpage{
    position: absolute;
    bottom: 5px;
    left: 45%;
    transform: translateX(-50%);

    width: 100px;
    height: fit-content;

    @include breakpoint-up(medium){
        left: 49%;
        transform: translateX(-56%);
    }
    &__num{
        color: $white;
        font-size: 16px;
        padding: 8px;

        &:hover{
            color: $textRed;
        }
    }
}