.register{
    width: 100%;
    
    &__image{
        //max-width: 990px;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 0px;
        margin-bottom: 0px;

        @include breakpoint-up(medium){
            max-width: 990px;
        }
        img{
            width: 100%;
            height: 200px;

            @include breakpoint-up(medium){
                
                height: 400px;
            }
        }
    }

    &__title{
        color: $white;
        padding: 15px;
        text-align: center;
        margin: 0px;
    }

    &__subtitle{
        color: $white;
        padding: 15px;
        text-align: center;
        margin: auto;
        max-width: 1024px;

    }
    
    .grid-form{
        margin: auto;
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr;

        .grid-left{

            img{
                width: 70%;
                margin-top: 60px;
                margin-left: 80px;
            }
        }

        @include breakpoint-up(large){
            grid-template-columns: 40% 60%;
        }
    }

    &__form{
        flex-direction: column;
        width: 95%;
        max-width: 990px;
        margin: auto;
        margin-bottom: 16px;
        padding: 20px 20px 10px 20px;


        border-radius: 5px;
        background-color: $textVeryDarkBlue;

        p{
            margin: 0px;
            margin-bottom: 15px;

            color: $white;
        }

        label{
            color: $white;
            font-size: 14px;
            margin-bottom: 10px;
        }

        input, textarea{
            padding: 7px;
            outline: none;
            border: none;
            border-radius: 5px;
            color: $textVeryDarkBlue;

            font-family: 'Josefin Sans', sans-serif;
            font-size: 14px;

            margin-bottom: 15px;

            @include breakpoint-up(medium){
                font-size: 16px;
                padding: 10px;
            }
        }

        textarea{
            resize: none;
            border-radius: 5px;
            
            &::-webkit-scrollbar {
                width: 6px;
            }
    
            &::-webkit-scrollbar-track {
                background: rgba($color: #646464, $alpha: .1); 
                border-radius: 10px;
            }
               
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $blurGrey; 
                border-radius: 10px;
            }
              
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: rgba($color: #646464, $alpha: .8); 
            }
        }
    }

    .grid{
        width: 100%;
        grid-template-columns: 40% 60%;

        input{
            width: 98%;
        }
    }

    .btn{
        margin: auto;
        margin-bottom: 20px;
    }
}